body
{
	background-image: url("Mercator_World_Map.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	width: 715px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 20px;
	padding-left: 20px;
}

h1
{
	font-size: 2.9em;
	color: #0e1f5b;
}

h2
{
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 1.4em;
	color: #0e1f5b;
	margin-bottom: 0;
}

h3
{
	margin-top: 0;
	font-size: 1.3em;
	color: #0e1f5b;
}

h4
{
	color: #0e1f5b;
	font-size: 1.2em;
}

h5
{
	//color: #3b5998;
	color: #333333;
}

div#return-button {
	background-color: #d8dfea;
	border: 1px solid;
	border-color: #95a5c6;
	width: 150px;
	text-align: center;
	margin-top: 30px;
}

div#return-button a {
	color: #0e1f5b;
	text-decoration: none;
}


