body
{
   background-image: url("Mercator_World_Map.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
}

h1
{
   font-family: "Palatino", new century schoolbook, serif;
   font-style: italic;
   font-size: 2.9em;
   color: #0e1f5b;
}

h2
{
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	font-size: 1.1em;
	color: #3b5998;
}

h3
{
	font-family: "Palatino", new century schoolbook, serif;
	font-size: 1.7em;
	color: #0e1f5b;
}

h4
{
	font-family: "Palatino", new century schoolbook, serif;
	color: #0e1f5b;
	font-size: 1.2em;
	font-style: italic;
}

h5
{
	color: #3b5998;
}



