div#container
{
	background-color: #95a5c6;
	border: 1px solid;
	width: 280px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

ul#nav1 {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

}

ul#nav1 li { 
    background-color: #bdc7d8;
    border: 1px solid;
    border-color: #7f93bc;
    width: 150px;
    text-align: center;
	margin-top: 1em;
}

ul#nav1 li a {
    color: #0e1f5b;
    text-decoration: none;
}


ul#nav2 {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	display: none;

}

ul#nav2 li { 
    background-color: #bdc7d8;
    border: 1px solid;
    border-color: #7f93bc;
    width: 150px;
    text-align: center;
	margin-top: 1em;
}

ul#nav2 li a {
    color: #0e1f5b;
    text-decoration: none;
}

ul#nav3 {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	display: none;

}

ul#nav3 li { 
    background-color: #bdc7d8;
    border: 1px solid;
    border-color: #7f93bc;
    width: 150px;
    text-align: center;
	margin-top: 1em;
}

ul#nav3 li a {
    color: #0e1f5b;
    text-decoration: none;
}


