div#container
{
	background-color: #95a5c6;
	border: 1px solid;
	width: 350px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}


.nav ul {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;

}

.nav ul li { 
    background-color: #bdc7d8;
    border: 1px solid;
    border-color: #7f93bc;
    width: 150px;
    text-align: center;
	margin-top: 1em;
}

.nav ul li a {
    color: #0e1f5b;
    text-decoration: none;
}


#choose-category {
	display: none;
}

#play {
}

#play h4 {
	margin-top: .3em;
	margin-bottom: 0;
}

ul#play-buttons {
	margin-top: .5em;
}

ul#play-buttons li {
	margin-top: .2em;
}

