body {
	background-image: none;
}

div.score {
	font-size: 1.5em;
	color: #0e1f5b;
	display: inline;
	text-align: right;
	width: 100%;
}

div.score p {
	margin: 0;
}

h2 {
    font-style: italic;
	color: #0e1f5b;
	font-size: 2em;
	display: inline;
}

h2#desc {
	position: absolute;
	margin-top: 5px;
}

div#map_header h3 {
	display: inline;
}

div#map span#event {
	position: absolute;
	left: 5px;	
	top: 5px;
	width: 90%;
	font-size: 1.5em;
	text-decoration: small-caps;
}

div#countdown {
	text-align: right;
	right: 0;
	top: 0;
}

div#map {
	height: 400px;

	border: solid 1px;
	border-bottom: 0px;
	position: relative;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: url("../maps/Mercator_World_Map_blue.png");
}

div#map div {
	position: absolute;
}

div#points {
	height: 120px;
	text-align: center;
	width: 100%;
	margin-top: 80px;
	font-size: 2.5em;
	display: none;
	z-index: 5;
}

div#button {
	text-align: center;
	width: 100%;
	margin-top: 275px; 
	z-index: 2;
}

div#button a {
	text-decoration: none;
	font-size: 2.5em;
	color: #000;
}

a#next {
	display: none;
}

a.continue {
	margin-right: 30px;
	display: none;
}

img.map_click {
	position: absolute;
}

div#slider-container {
	margin-top: -10px;
	position: relative;
}

div#slider-beg,
div#slider-end {
	text-align: center;
	width: 50px;
	font-size: 1.2em;
	height: 0px;
	position: absolute;
}

div#slider-beg {
	margin-left: -25px;
}

div#slider-end {
	right: 0px;
	margin-right: -25px;
}

div#slider-sol-marker {
	display: none;
	position: absolute;
}

div#selected-date,
div#sol-date {
	width: 150px;
	margin-left: -75px;
	z-index: 5;
	position: absolute;
	top: -35px;
	text-align: center;
	font-size: 1.5em;
}

div#sol-date {
	top: 20px;
	width: 300px;
	margin-left: -150px;
	color: #F00;
	font-weight: bold;
}

div#info {
	font-size: 1.5em;
}
