body
{
   background-image: url("Mercator_World_Map.jpg");
   background-attachment: fixed;
   font-family: "lucida grande", tahoma, verdana, arial, sans-serif; 
   color: #333333;
   font-size:1.0em;

}

h1
{
   font-family: "Palatino", new century schoolbook, serif;
   font-style: italic;
   font-size: 2.9em;
   color: #0e1f5b;
}

h2
{
	font-family: "Palatino", new century schoolbook, serif;
	font-size: 1.6em;
	color:#0e1f5b;
}

h4
{
	font-family: "Palatino", new century schoolbook, serif;
	color: #0e1f5b;
	font-size: 1.2em;
	font-style: italic;
}

h5
{
	color: #3b5998;
}


a#return {
	float: center;
	color: #0e1f5b;
	font-family: "Palatino", serif;
	font-style: italic;
	background-color: #d8dfea;
	border:1px solid;
	border-color #95a5c6 #7f93bc #7f93bc #95a5c6;
	width: 150px;
	text-decoration: none;
	text-align: center;
}