body
{
   background-image: url("Mercator_World_Map.jpg");
   background-attachment: fixed;
}

h1
{
   font-family: "Palatino", new century schoolbook, serif;
   font-style: italic;
   font-size: 2.9em;
   color: #0e1f5b;
}

a#return {
	float: center;
	color: #0e1f5b;
	font-family: "Palatino", serif;
	font-style: italic;
	background-color: #d8dfea;
	border:1px solid;
	border-color #95a5c6 #7f93bc #7f93bc #95a5c6;
	width: 150px;
	text-decoration: none;
	text-align: center;
}

.pretty-table
{
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border: 1px solid #0e1f5b;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;  
  font-size: 1.1em;
  background-color: #95a5c6;
}


.pretty-table th, .pretty-table td
{
  border: 1px dotted #0e1f5b ;
  padding: 0.5em;
  text-align: left;
  color: #ffffff;
}

.pretty-table th[scope=col]
{
  color: #fff;
  background-color: #3b5998;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #0e1f5b ;
  border-right: 2px solid #0e1f5b ;
}

.pretty-table th[scope=col2]
{
  color: #fff;
  background-color: #3b5998;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #0e1f5b ;
  border-right: 2px solid #0e1f5b ;

}

.pretty-table th[scope=col3]
{
  color: #fff;
  background-color: #3b5998;
  text-transform: uppercase;
  font-size: 0.9em;
  border-bottom: 2px solid #0e1f5b ;

}

.pretty-table th+th[scope=col]
{
  color: #fff;
  background-color: #3b5998;

}

.pretty-table th[scope=row]
{
  background-color: #95a5c6 ;
  border-right: 2px solid #0e1f5b ;

}

.pretty-table th[scope=row2]
{
  background-color: #95a5c6 ;

}

.ui-tabs .ui-tabs-hide {
     display: none;
}

